
DATABASE_URL="postgresql://fahad:password123@localhost:5432/super_app?schema=public"

JWT_SECRET="Hello"

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=

GEMINI_API_KEY=
PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_RETURN_URL=https://superapp-paypal-success.local/success
PAYPAL_CANCEL_URL=https://superapp-paypal-success.local/cancel